<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/sisgeq?createDatabaseIfNotExist=true</property>
    <property name="hibernate.connection.username">sisgeq</property>
    <property name="hibernate.connection.password">sisgeq</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="br.uern.sisgeq.model.Alternativa"/>
    <mapping class="br.uern.sisgeq.model.Campus"/>
    <mapping class="br.uern.sisgeq.model.Curso"/>
    <mapping class="br.uern.sisgeq.model.Departamento"/>
    <mapping class="br.uern.sisgeq.model.Disciplina"/>
    <mapping class="br.uern.sisgeq.model.Login"/>
    <mapping class="br.uern.sisgeq.model.Nucleo"/>
    <mapping class="br.uern.sisgeq.model.Perfil"/>
    <mapping class="br.uern.sisgeq.model.Pergunta"/>
    <mapping class="br.uern.sisgeq.model.Pessoa"/>
    <mapping class="br.uern.sisgeq.model.PessoaQuestionario"/>
    <mapping class="br.uern.sisgeq.model.PessoaTurma"/>
    <mapping class="br.uern.sisgeq.model.Questionario"/>
    <mapping class="br.uern.sisgeq.model.Resposta"/>
    <mapping class="br.uern.sisgeq.model.Restricao"/>
    <mapping class="br.uern.sisgeq.model.Turma"/>
    <mapping class="br.uern.sisgeq.model.Situacao"/>
  </session-factory>
</hibernate-configuration>
